@model IEnumerable<SARH___JMéndez_Constructora.Models.Deducciones>

@{
    ViewData["Title"] = "Deducciones";
    ViewData["sidebarActive"] = "Deducciones";
}

<!--<p><a asp-action="Create" class="btn btn-primary d-block">Crear Nueva Deducción</a></p>-->
<div class="table-responsive">
    <table class="table table-hover table-custom spacing5 mb-0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Concepto)
                </th>
                <th>
                    % @Html.DisplayNameFor(model => model.Patrono)
                </th>
                <th>
                    % @Html.DisplayNameFor(model => model.Trabajador)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Concepto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patrono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trabajador)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-default">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
