@model IEnumerable<SARH___JMéndez_Constructora.Models.Deducciones>

@{
    ViewData["Title"] = "Deducciones";
    ViewData["sidebarActive"] = "Deducciones";

}

<p>
    <a asp-action="Create" class="btn btn-primary d-block">Crear Nueva Deducción</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patrono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trabajador)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patrono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trabajador)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>