@using Microsoft.AspNetCore.Identity
@using SARH___JMéndez_Constructora.Models 
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*https://docs.microsoft.com/es-es/aspnet/core/mvc/views/dependency-injection?view=aspnetcore-3.1*@
@inject UserPageSettingsService pageSettings
@{
    string theme = string.Empty;
    string themeChecked = "checked";
    string rtl = string.Empty;
    string rtlChecked = string.Empty;
    var userPageSettings = pageSettings.GetUserPageSettings(User.Identity.Name);
    if(userPageSettings.LightVersionEnabled){theme="light_version"; themeChecked="";} 
    if(userPageSettings.RightToLeftEnabled){rtl="rtl"; rtlChecked = "checked";}  
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon"
          href="~/favicon.ico"
          type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/apple-touch-icon.png" />
    <title>@ViewData["Title"] - SARH</title>
    <meta name="description" content="Sistema de Administración de Recursos Humanos - SARH" />
    <meta name="author" content="Laravel" />
    <link rel="stylesheet"
          href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="stylesheet"
          href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet"
          href="~/lib/fullcalendar/fullcalendar.min.css" />
    <link rel="stylesheet"
          href="~/lib/jquery-datatable/dataTables.bootstrap4.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/main.min.css" />

</head>

<body class="theme-blue-primary font-raleway @theme @rtl">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
            <div class="bar5"></div>
        </div>
    </div>
    @* Theme Settings *@
    <div class="themesetting">
        <a href="javascript:void(0);" class="theme_btn">
            <i class="icon-magic-wand"></i>
        </a>
        <div class="card font_setting">
            <div class="header">
                <h2>Ajustes de Fuente</h2>
            </div>
            <div>
                <div class="fancy-radio mb-2">
                    <label>
                        <input name="font"
                               value="font-raleway"
                               type="radio"
                               checked /><span><i></i>Raleway</span>
                    </label>
                </div>
                <div class="fancy-radio mb-2">
                    <label>
                        <input name="font" value="font-montserrat" type="radio" /><span><i></i>Montserrat Google font</span>
                    </label>
                </div>
                <div class="fancy-radio">
                    <label>
                        <input name="font" value="font-bitter" type="radio" /><span><i></i>Bitter</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="card setting_switch">
            <div class="header">
                <h2>Ajustes</h2>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Modo Oscuro
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="lv-btn" @themeChecked />
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    Menú a la izquierda
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="rtl-btn" @rtlChecked />
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <!--
                <li class="list-group-item">
                    Menú Horizontal
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="hmenu-btn" />
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                <li class="list-group-item">
                    Menú Reducido
                    <div class="float-right">
                        <label class="switch">
                            <input type="checkbox" class="mini-sidebar-btn" />
                            <span class="slider round"></span>
                        </label>
                    </div>
                </li>
                -->
            </ul>
        </div>
    </div>
    <div class="overlay"></div>
    <div id="wrapper">
        @* Navbar *@
        <nav class="navbar top-navbar">
            <div class="container-fluid">
                <div class="navbar-left">
                    <div class="navbar-btn navbar__button">
                        <a href="index.html"></a>
                        <button type="button" class="btn-toggle-offcanvas">
                            <i class="lnr lnr-menu fa fa-bars"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav d-flex align-items-center"></ul>
                </div>
                <div class="navbar-right">
                    <div id="navbar-menu">
                        <ul class="nav navbar-nav d-flex flex-row">
                            <li class="ml-auto">
                                <div class="d-inline-block navbar-right__image"></div>
                            </li>
                            <li>
                                <form class="form-inline h-100" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="btn icon-menu">
                                        <i class="icon-power"></i>
                                        <span>Logout</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>
        </nav>
        @* Sidebar *@
    <div id="left-sidebar" class="sidebar" style="overflow-y: scroll; overflow-x: hidden !important">
        <div class="navbar-brand">
            <button type="button"
                    class="btn-toggle-offcanvas btn btn-sm float-right">
                <i class="lnr lnr-menu fa fa-chevron-circle-left"></i>
            </button>
            <a asp-area="" asp-controller="Tablero" asp-action="Index"><span class="navbar-brand__text">SARH</span></a>
        </div>
        <div class="user-account">
            <div class="user_div">
                <img src="~/images/user.png"
                     class="user-photo"
                     alt="Foto perfil Usuario" />
            </div>
            <div class="dropdown">
                <span>Bienvenido,</span>
                <a href="javascript:void(0);"
                   class="@*dropdown-toggle*@ user-name"
                   data-toggle="dropdown"><strong>@User.Identity.Name</strong></a>
                @*<ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                    <li>
                        <a href="../sistema/perfilUsuario.html"><i class="icon-user"></i>Mi Perfil</a>
                    </li>
                    <li>
                        <a href="../sistema/ajustesUsuario.html"><i class="icon-settings"></i>Ajustes</a>
                    </li>
                    <li>
                        <a href="../autenticacion/inicioSesion.html"><i class="icon-power"></i>Salir</a>
                    </li>
                </ul>*@
            </div>
        </div>
        @{
            if (User.IsInRole("Admin"))
            {
                string[] actionsAllowed = new string[] { "tablero", "trabajadores", "pagos", "calendario", "rendimiento", "usuarios", "reportes" };

            }
            else if (User.IsInRole("RRHH"))
            {
                string[] actionsAllowed = new string[] { "trabajadores", "pagos" };

            }
            else if (User.IsInRole("Gerencia"))
            {
                string[] actionsAllowed = new string[] { "tablero", "rendimiento", "reportes" };

            }

            //if (stringArray.Any(stringToCheck.Contains))
        }
        <nav id="left-sidebar-nav" class="sidebar-nav left-sidebar">
            <ul id="main-menu" class="metismenu">
                <li class="sidebar__item @((string)ViewData["sidebarActive"] == "Tablero" ? "active" : "")">
                    <a class="btn text-left sidebar__link"
                       asp-area="" asp-controller="Tablero" asp-action="Index">
                        <i class="icon-screen-desktop sidebar__icon"></i><span class="left-sidebar__span">Tablero</span>
                    </a>
                </li>
                <li class="sidebar__item  @((string)ViewData["sidebarActive"] == "Trabajadores" ? "active" : "")">
                    <a class="btn text-left sidebar__link"
                       asp-area="" asp-controller="Trabajadores" asp-action="Index">
                        <i class="icon-users sidebar__icon"></i><span class="left-sidebar__span">Trabajadores</span>
                    </a>
                </li>
                <li class="sidebar__item @((string)ViewData["sidebarActive"] == "Pagos" ? "active" : "")">
                    <a class="btn text-left sidebar__link "
                       asp-area="" asp-controller="Pagos" asp-action="Index">
                        <i class="icon-credit-card sidebar__icon"></i><span class="left-sidebar__span">Pagos</span>
                    </a>
                </li>
                <li class="sidebar__item @((string)ViewData["sidebarActive"] == "Calendario" ? "active" : "")">
                    <a class="btn text-left sidebar__link"
                       asp-area="" asp-controller="Calendario" asp-action="Index">
                        <i class="icon-clock sidebar__icon"></i><span class="left-sidebar__span">Calendario</span>
                    </a>
                </li>
                <li class="sidebar__item @((string)ViewData["sidebarActive"] == "Deducciones" ? "active" : "")">
                    <a class="btn text-left sidebar__link "
                       asp-area="" asp-controller="Deducciones" asp-action="Index">
                        <i class="icon-credit-card sidebar__icon"></i><span class="left-sidebar__span">Deducciones</span>
                    </a>
                </li>
                <li class="sidebar__item  @((string)ViewData["sidebarActive"] == "Rendimiento" ? "active" : "")">
                    <a class="btn text-left sidebar__link"
                       asp-area="" asp-controller="Rendimiento" asp-action="Index">
                        <i class="icon-docs sidebar__icon"></i><span class="left-sidebar__span">Rendimiento</span>
                    </a>
                </li>
                <li class="sidebar__item  @((string)ViewData["sidebarActive"] == "Usuarios" ? "active" : "")">
                    <a class="btn text-left sidebar__link"
                       asp-area="" asp-controller="Usuarios" asp-action="Index">
                        <i class="icon-users sidebar__icon"></i><span class="left-sidebar__span">Usuarios</span>
                    </a>
                </li>
                <li class="sidebar__item   @((string)ViewData["sidebarActive"] == "Reportes" ? "active" : "")">
                    <a class="btn text-left  sidebar__link"
                       asp-area="" asp-controller="Vacaciones" asp-action="Index">
                        <i class="icon-folder sidebar__icon"></i><span class="left-sidebar__span">Reportes</span>
                    </a>
                </li>
                <li class="sidebar__item   @((string)ViewData["sidebarActive"] == "Incapacidades" ? "active" : "")">
                    <a class="btn text-left  sidebar__link"
                       asp-area="" asp-controller="Incapacidades" asp-action="Index">
                        <i class="icon-folder sidebar__icon"></i><span class="left-sidebar__span">Incapacidades</span>
                    </a>
                </li>
                <li class="sidebar__item   @((string)ViewData["sidebarActive"] == "Bitacoras" ? "active" : "")">
                    <a class="btn text-left  sidebar__link"
                       asp-area="" asp-controller="Bitacoras" asp-action="Index">
                        <i class="icon-notebook sidebar__icon"></i><span class="left-sidebar__span">Bitacoras</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
        <div class="slimScrollBar" style="background: rgb(28, 34, 44); width: 2px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 3px; z-index: 99; right: 1px; height: 314.868px;"></div><div class="slimScrollRail" style="width: 2px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>

        @* Main Content *@
        <div id="main-content">
            @RenderBody()
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/bundles/mainscripts.bundle.js"></script>
    <script src="~/bundles/libscripts.bundle.js"></script>
    <script src="~/bundles/vendorscripts.bundle.js"></script>
    <script src="~/bundles/fullcalendarscripts.bundle.js"></script>
    <script src="~/js/pages/calendar2.js"></script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
            data-cf-settings="c3cdcb1f54af327e782883c8-|49"
            defer=""></script>
    <script>
        $('.setting_switch .lv-btn').on('change', function () {
            $.ajax({type: "GET", url: "../UserPageSettings/SetTheme",
                data: { LightVersionEnabled: !this.checked }
		})});
        $('.setting_switch .rtl-btn').on('change', function () {
            $.ajax({type: "GET", url: "../UserPageSettings/SetRTL",
                data: { RightToLeftEnabled: this.checked }
		})});
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
