@model SARH___JMéndez_Constructora.Models.Evaluaciones

@{
    ViewData["Title"] = "Evaluaciones - Eliminar";
    ViewData["sidebarActive"] = "Reportes";
}




@* kkkkkkkkkkkkkkkkkkkk *@




<div class="container-fluid">
    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                <h1>Inicio</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Tablero" asp-action="Index">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Detalles de reporte de vacaciones</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs3 table-nav">
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-action="Index" asp-controller="Vacaciones">Vacaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Tiempoes">Tiempo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="Index" asp-controller="Evaluaciones">Evaluaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" asp-action="Index" asp-controller="Ausenciasinjustificadas">Ausencias Injustificadas</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3">
                        <div class="tab-pane show active" id="Vacaciones">
                            <div class="row p-5">
                                <div class="col-12  p-3 bg-light rounded-sm">
                                    <h3>¿Seguro que desea eliminar este registro de evaluaciónes?</h3>
                                    <div>
                                        <hr />
                                        <dl class="row">
                                            <dt class="col-sm-3">
                                                @Html.DisplayNameFor(model => model.Calificacion)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.Calificacion)
                                            </dd>
                                            <dt class="col-sm-3">
                                                @Html.DisplayNameFor(model => model.Observaciones)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.Observaciones)
                                            </dd>
                                            <dt class="col-sm-3">
                                                @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
                                            </dt>
                                            <dd class="col-sm-9">
                                                @Html.DisplayFor(model => model.IdEmpleadoNavigation.Nombre)
                                                @Html.DisplayFor(model => model.IdEmpleadoNavigation.Apellido1)
                                            </dd>
                                        </dl>

                                        <form asp-action="Delete">
                                            <input type="hidden" asp-for="Id" />
                                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                                            <a class="btn btn-outline-primary" asp-action="Index">Volver a la lista</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

