@model SARH___JMéndez_Constructora.Models.Tiempo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tiempo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsLaborado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsLaborado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsInjustificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsInjustificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsVacaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsVacaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsIncapacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsIncapacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdContratoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdContratoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleadoNavigation.Apellido1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
