@model IEnumerable<TableViewModel>

@{
    ViewData["Title"] = "Index";
    ViewData["sidebarActive"] = "Reportes";

}
<p>
    <a asp-action="Create" class="btn btn-primary d-block">Crear Nuevo Reporte de Vacaciones</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FueronAprobadas)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="avtar-pic w35 bg-red"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="Avatar Name">
                        @{
                            string iniciales = (item.Nombre.Substring(0,1)
                                + item.Apellido1.Substring(0,1)).ToUpper();
                        }
                        <span>@iniciales</span>
                    </div>
                </td>
                <td>
                    <span>@Html.DisplayFor(modelItem => item.Cedula)</span>
                </td>
                 <td>
                    <div class="font-15">
                        @Html.DisplayFor(modelItem => item.Nombre) 
                        @Html.DisplayFor(modelItem => item.Apellido1) 
                        @Html.DisplayFor(modelItem => item.Apellido2) 
                    </div>
                </td>
                <td>
                    <div class="font-15">
                        @Html.DisplayFor(modelItem => item.Desde)
                    </div>
                </td>
                <td>
                    <span>@Html.DisplayFor(modelItem => item.Hasta)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FueronAprobadas)
                </td>
                
            </tr>
        }
    </tbody>
</table>

